@use '../util' as *;

.content {
    display: flex;
    flex-direction: column;

    .card{
        background-color: white;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      min-width: 50%;
      margin: auto;
      margin-bottom: 32px;
    }

    .contentHeader{
        height: 250px;
        margin-top: -100px;
        // z-index: 999999;
        text-align: center;
        .header_logo {
            text-align: center;
            margin-top: -32px;
        }

        .title {
            text-align: center;
            font-weight: 700;
            margin-top: 16px;
        }

        .subtitle{
            color: $dark-gray;
            margin: 16px 0px;
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            padding: 0px 64px;
            margin-top: 32px;

            .bookmarkBtn {
                min-width: 170px;
                min-height: 40px;
                border-radius: 40px;
                background-color: #eee;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active{
                    .icon_wrapper{
                        background-color: $dark-cyan;
                        svg{
                            fill: white;
                        }
                    }
                    span {
                        color: $dark-cyan;
                    }
                }
                .icon_wrapper{
                    height: 50px;
                    width: 50px;
                    background-color: rgb(126, 123, 123);
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                span {
                    margin-left: 32px;
                    font-weight: 700;
                    color: $dark-gray;
                }

            }  
        }   

        
    }

    .contentStatics{
        min-height: 200px;
        padding: 0px 64px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;

        .wrapper{
            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: 700;
            }
            span {
                font-size: 1.4rem;
                color : $dark-gray
            }
        }

        .input_range {
            margin-top: 32px;
            progress {
                height: 30px;
                width: 100%;
                accent-color: $dark-cyan;
            }
        }
    }
}

