@use './util' as *;
@use './components' as *;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Commissioner', sans-serif;
  cursor: pointer;
}

#app {
  height: 100%;
  width: 100%;
}

:root{
  ul {
    list-style-type: none;
    display: flex;
    color: white;
    padding: unset;
    li{
      padding: 0px 16px;
    }
  }
}