@use './util' as *;
@use './components' as *;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Commissioner', sans-serif;
  cursor: pointer;
}

#app {
  height: 100%;
  width: 100%;
}

:root{
  ul {
    list-style-type: none;
    display: flex;
    color: white;
    padding: unset;
    li{
      padding: 0px 16px;
    }
  }

  .button {
    min-width: 170px;
    min-height: 40px;
    border-radius: 40px;
    font-size: 1.6rem;
    border: unset;
    outline: unset;
    padding: 16px;
    color : white;
    background-color: $dark-cyan;
    font-weight: 700;
    
  }

  input[type="range"]{
      // -webkit-appearance: none;
      background-color: $dark-gray;
      border-radius: 10px;
  }

  // input[type='range']::-webkit-slider-thumb {
  //   width: 10px;
  //   -webkit-appearance: none;
  //   height: 10px;
  //   cursor: ew-resize;
  //   background: #434343;
  //   box-shadow: -80px 0 0 80px #43e5f7;
  // }

  // input[type='range']::-webkit-slider-runnable-track {
  //   height: 10px;
  //   -webkit-appearance: none;
  //   color: #13bba4;
  //   margin-top: -1px;
  // }
 
}